* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: Pacifico;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}

h2 {
    font-family: Pacifico;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0em;
    
    
}


p {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}


/* BUTTONS */

.button-primary {
   text-decoration: none;
   color: white;
   padding: 12px 25px;
   background-color: black; 
   text-transform: uppercase;
   letter-spacing: .1em;
   max-width: 150px;
   font-size: .8rem;
   text-align: center;
}

.button-secondary {
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: .1em;
    max-width: 150px;
    font-size: .8rem;
    text-align: center;
 }

 .text-link {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    margin-bottom: 10px;
 }

 /* USEFUL CLASSES */
 .flex-div {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BACKGROUND COLORS */

.bg-grey {
    background-color: #EFEFEF;
}

.bg-white {
    background-color: white;
}

.bg-teal {
    background-color: #10504F;
}

.bg-black {
    background-color: black;
}

.center-text {
    text-align: center;
}

.text-white {
    color: white;
}

.text-teal {
    color: #10504F;
}

.text-black {
    color: black;
}


/* ANNOUNCEMENT BAR */
.announcement-bar-section {
    padding: 15px 0px;
    color: #EFEFEF;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* NAV */
.logo {
    height: 50px;
    padding: 0 20px;
}

nav {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}

.nav-icon {
    height: 28px;
}

.nav-icon-right {
    height: 20px;
    margin-left: 15px;
}

.nav-left {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-right {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* HERO */
.hero-img-div {
    background-color: #EFEFEF;
}

.hero-img-div > img {
    width: 100%;
}

.hero-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.hero-text-div>p {
    margin-bottom: 30px;
    
}

/* COLLECTIONS */
.collections-section {
    margin: 10px;
}



.collection-card-1 {
    flex: 1;
    margin: 5px;
}


.collection-card-2 {
    flex: 1;
    margin: 5px;
}

.collection-card-3 {
    flex: 1;
    margin: 5px;
}



.collection-card-1 > div > h2 {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.collection-card-2 > div > h2 {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.collection-card-3 > div > h2 {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}


.collection-card-img-1 {
    min-height: 200px;
    background-image: url(imgs/Womens\ Image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.collection-card-img-2 {
    min-height: 200px;
    background-image: url(imgs/Mens\ Image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.collection-card-img-3 {
    min-height: 200px;
    background-image: url(imgs/Accessories\ Image\ Mobile\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* PRODUCT SECTION */

.product-card {
    padding: 20px 20px;
}


/* EMAIL SIGN UP */
.email-input-section {
    padding: 20px 20px;
}

.email-input-section>div {
    margin-bottom: 10px;
}

.email-input-section>div>h2 {
    margin-left: 10px;
}

.email-input-section>p {
    margin-bottom: 50px;
}

/* FOOTER */
footer {
    padding: 20px;
}

footer>div>h2{
    margin-bottom: 20px;
}

.panel {
    display: none;
}

.panel>a {
    margin-right: 20px;

}

.accordion {
    display: flex;
    justify-content: space-between;
    align-content: center;
    transition: 0.4s;
    margin-bottom: 20px;
}

.accordion > img {
    width: 10px;
    height: auto;
}

.social-links > a {
    width: 10px;
    height: auto;
    margin-right: 20px;
}

/* Desktop Media Query */

@media only screen and (min-width: 600px) {
    body {
      
    }
  }