* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: Pacifico;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}

h2 {
    font-family: Pacifico;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0em;
    
    
}


p {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}


/* BUTTONS */

.button-primary {
   text-decoration: none;
   color: white;
   padding: 12px 25px;
   background-color: black; 
   text-transform: uppercase;
   letter-spacing: .1em;
   max-width: 150px;
   font-size: .8rem;
   text-align: center;
}

.button-secondary {
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: .1em;
    max-width: 150px;
    font-size: .8rem;
    text-align: center;
 }

 .text-link {
    text-decoration: none;
    font-size: .8rem;
    margin-bottom: 10px;
 }

 /* USEFUL CLASSES */
 .flex-div {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BACKGROUND COLORS */

.bg-grey {
    background-color: #EFEFEF;
}

.bg-white {
    background-color: white;
}

.bg-teal {
    background-color: #10504F;
}

.bg-black {
    background-color: black;
}

.center-text {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
}

.text-teal {
    color: #10504F;
}

.text-black {
    color: black;
}


/* IMAGES */
.desktop-img {
    display: none;
}



PAGE WRAPPER
.page-max-width {
    max-width: 1200px;
    margin: auto;
}


/* ANNOUNCEMENT BAR */
.announcement-bar-section {
    padding: 15px 0px;
    color: #EFEFEF;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* MOBILE MENU OVERLAY */
.mobile-menu-background-div {
    display: none;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);;
}

.mobile-menu-content-div {
    background-color: white;
    width: 80%;
    height: auto;
    
}

.mobile-menu-accordion-div {
    padding: 20px;
}


.mobile-menu-accordion-div>div {
    margin-bottom: 40px;
}
.mobile-menu-accordion-div>div>a {
    margin-bottom: 20px;
    font-size: 1rem;
}

.mobile-menu-exit-div {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.menu-nav-title {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}

.mobile-menu-nav-links-div {
    padding: 20px;
    background-color: #EFEFEF;

}

.mobile-menu-nav-links-div > div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
}

.mobile-menu-nav-links-div > div > a {
    text-decoration: none;
    color: black;
}




/* NAV */
.logo {
    height: 50px;
    padding: 0 20px;
}

nav {
    padding: 10px 0px;
}

.nav-ctr {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;

}

.nav-icon {
    height: 28px;
}

.nav-icon-right {
    height: 20px;
    margin-left: 15px;
}

.nav-left {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-right {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-center {
    width: 400px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-text-link {
    display: none;
    text-decoration: none;
    color: white;
    padding: 0px 0px;
}

.nav-text-link:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2px;
}


/* SEARCH FORM */
.search-form-div {
    display: none;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    background-color: white;
    width: 90%;
    
}

.search-form-div form {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form-div input {
    width: 80%;
    padding: 5px;
    border: none;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}

.search-form-div button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
}




/* HERO */
.hero-img-div {
    background-color: #EFEFEF;
}

.hero-img-div > img {
    width: 100%;
}

.hero-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}
.hero-text-div>h1 {
    margin-bottom: 10px;
    
}

.hero-text-div>p {
    margin-bottom: 30px;
    
}

.desktop-hero-img-div {
    display: none;
}



/* COLLECTIONS */
.collections-section {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.collection-card-1 {
    flex: 1;
    margin: 5px;
}


.collection-card-2 {
    flex: 1;
    margin: 5px;
}

.collection-card-3 {
    flex: 1;
    margin: 5px;
}



.collection-card-1 > div > h2 {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.collection-card-2 > div > h2 {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.collection-card-3 > div > h2 {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}


.collection-card-img-1 {
    min-height: 200px;
    background-image: url(imgs/Womens\ Image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.collection-card-img-2 {
    min-height: 200px;
    background-image: url(imgs/Mens\ Image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.collection-card-img-3 {
    min-height: 200px;
    background-image: url(imgs/Accessories\ Image\ Mobile\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* PRODUCT SECTION */
.product-card-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.product-card {
    padding: 20px 20px;
}

.product-card > * {
    margin-bottom: 5px;
}

.product-title {
    font-weight: 400;
}

.price-text {
    font-family: Pacifico;
    font-weight: 300;
    color: #10504F;
}


/* EMAIL SIGN UP */
.email-input-section {
    padding: 20px 20px;
}


.email-input-section>div {
    margin-bottom: 10px;
}

.email-input-section>div>h2 {
    margin-left: 10px;
}

.email-input-section>p {
    margin-bottom: 50px;
}

.email-form-desktop {
    display: none;
}

.email-input-heading {
    display: flex;
    margin-bottom: 20px;
}
.email-input-section>div>p{
    margin-bottom: 20px;
}






/* FOOTER */
footer {
    padding: 20px;
}

footer>div>h2{
    margin-bottom: 20px;
}

.panel {
    display: none;
}

.panel>a {
    margin-right: 20px;

}

.accordion {
    display: flex;
    justify-content: space-between;
    align-content: center;
    transition: 0.4s;
    margin-bottom: 20px;
}

.accordion > img {
    width: 10px;
    height: auto;
}

.social-links > a {
    width: 10px;
    height: auto;
    margin-right: 20px;
}

.desktop-footer {
    display: none;
}







/* Desktop Media Query */

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 1rem;
    }
    .hamburger-menu-icon {
        display: none;
    }
    .desktop-img {
        display: block;
    }

    .mobile-img {
        display: none;
    }

    .nav-text-link {
        display: flex;
    }

    .search-form-div {
        margin-right: 0;
        width: 300px;
        
    }

    .desktop-section-padding {
        padding: 40px 0px;
    }

    .email-form-desktop {
        display: flex;
        padding: 0px 40px;
        
    }
    
    .email-form-desktop form {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
    }
    
    .email-form-desktop input {
        width: 80%;
        padding: 10px;
        border: none;
        font-family: Lato;
        font-size: 1rem;
        font-weight: 300;
        line-height: 17px;
        border: none;
    }
    
    .email-form-desktop button {
        background-color: #10504F;
        border: 1px solid white;
        color: white;
        border: none;
        padding: 10px;
        width: auto;
        font-family: Lato;
        font-size: 1rem;
        font-weight: 500;
        line-height: 17px;
        text-align: center;
        margin-left: 10px;
    }

    .mobile-email-btn {
        display: none;
    }
    .mobile-email-p {
        display: none;
    }

    .mobile-footer {
        display: none;
    }

    .desktop-footer {
        display: flex;
        justify-content: space-between;
        padding: 40px 0px;
        max-width: 1200px;
        margin: auto;
    }

    .footer-items-left {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }

    .footer-items-left>div>h2 {
        margin-bottom: 10px;
    }

    .footer-items-right>h2 {
        margin-bottom: 10px;
    }

    .desktop-hero-img-div>h1 {
        margin-bottom: 10px;
        
    }
    
    .desktop-hero-img-div>p {
        margin-bottom: 30px;
        
    }

    .desktop-hero-img-div {
        width: 100%;
        height: 800px;
        background-color: #EFEFEF;
        background-image: url(/imgs/HeroImage.png);
        
    }


    

  }